header {
    height: 8%;
    background-color: $color-white;
    color: $color-black;

    display: flex;
    align-items: center;
    padding-left: 1.5rem;

    img {
        height: 50px;
    }

    h1 {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
