@import 'variables/breakpoints';
@import 'variables/colors';

@import 'components/header';
@import 'components/loading-screen';
@import 'components/movie-lists';

html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: $color-black;
}

h1 {
    font-family: NotoSans-Bold, Arial, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}
